extends layout

block content
  form(id='form', method='post', action='/create')
    label(for='username') Username:
    input(type='text', name='username')
    br
    
    label(for='password') Password:
    input(type='password', name='password')
    br
    
    label(for='age') Age:
    input(type='text', name='age')
    br

    label(for='email') Email:
    select(type='email', name='email', placeholder='Name@email.com')
    br
    
    label(for='lvl') User-Level:
    select(type='text', name='lvl')

    input(type='submit', value='Add Person')
