extends layout

block content
  table(class = 'gridtable')
    tr
      th Username
      th Email
      th Age
      th Sec. Question 1
      th Sec. Question 2
      th Sec. Question 3
      th User Level
      
