html {
  background-color: #7F2B15;
}
body {
  font-family: 'Anonymous Pro';
  font-size: 14px;
  width: 80%;
  padding: 20px;
  background-color: #E8BFA2;
    align-content: center;
}

table.gridtable {
  color: #256BFF;
  border-width: 1px;
  border-color: #00B2A5;
  border-collapse: collapse;
}

table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #00B2A5;
  background-color: #FFF;
}


table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #00B2A5;
  background-color: #fff;
}


a{
    text-decoration: none;
}
